
.estiloniver{
    font-size: 14px;
    color: #428bca;
}

.pointer{
 	cursor: pointer;
}

.panel-title{
    cursor: pointer;
}

.imagem img{
    border: 1px solid gray;
    width: 100px;
    height: 50px;
    float: left;
    border-radius: 3px;
}

form button{
    margin-left: 20px;
}

